<div class="container-fluid p-0 m-0">
    <div class="vw-100 d-flex justify-content-center pt-5">
        <div class="d-flex flex-column wrapper mt-4">
            <p *ngIf="!hasSendOTP" class="h4">Αποστολή OTP κωδικού</p>
            <p *ngIf="hasSendOTP" class="h4">Επαναφορά κωδικού πρόσβασης</p>
            <mat-form-field appearance="outline">
                <mat-label>Ηλεκτρονικό ταχυδρομείο</mat-label>
                <input matInput [(ngModel)]="forgotPassword.email">
            </mat-form-field>
            <mat-form-field *ngIf="hasSendOTP" appearance="outline">
                <mat-label>OTP 6-ψήφιος κωδικός</mat-label>
                <input matInput [(ngModel)]="resetPassword.otp">
            </mat-form-field>
            <mat-form-field *ngIf="hasSendOTP" appearance="outline">
                <mat-label>Νέος κωδικός πρόσβασης</mat-label>
                <input matInput [(ngModel)]="resetPassword.password">
            </mat-form-field>
            <mat-form-field *ngIf="hasSendOTP" appearance="outline">
                <mat-label>Επιβεβαίωση κωδικού πρόσβασης</mat-label>
                <input matInput [(ngModel)]="resetPassword.password">
            </mat-form-field>
            <button mat-raised-button class="mt-2" color="primary" *ngIf="!hasSendOTP" (click)="onForgotPassword()">Αποστολή OTP κωδικού</button>
            <button mat-raised-button class="mt-2" color="primary" *ngIf="hasSendOTP" (click)="onResetPassword()">Επαναφορά κωδικού</button>
        </div>
    </div>
</div>
