<div class="flex-row justify-content-center p-3 m-3 wrapper">

    <mat-form-field appearance = "outline" class="m-3">
        <mat-label>Αναζήτηση αίθουσας</mat-label>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance = "outline" class="m-3">
        <mat-label>Διεύθυνση κτηρίου</mat-label>
        <input matInput  >
    </mat-form-field>
    <button mat-raised-button  color="primary"  class="m-5">
        Προσθήκη εξοπλισμού
    </button>

 </div>
<div>
    <app-equipment-data-table></app-equipment-data-table>
</div>
 