<div class="p-3 gradient">
    <!-- <div class="d-flex justify-content-center"> -->

        <div class="container-xxl d-flex flex-row justify-content-between flex-wrap">
            <div class="set-width">
                <h4>Ποιοι είμαστε</h4>
                <p>Σύστημα τεχνικής υποστήριξης και δήλωσης βλαβών σε ελληνικά πανεπιστήμια</p>
            </div>
            <div class="set-width">
                <h4>Εγγραφή ενός πανεπιστημίου</h4>
                <p>Κάντε κλικ εδώ για να εγγράψετε το πανεπιστήμιο σας και να διαμορώσετε τα κτήρια σας</p>
            </div>
            <div class="set-width">
                <h4>Επικοινωνήστε μαζί μας</h4>
                <p>info@autech.gr</p>
                <p>210 355 2737</p>
            </div>
        </div>
    <!-- </div> -->
    <div class="d-flex justify-content-center footer-height mt-2 copy">
        <p>Copyrigths reserved &copy; 2023</p>
    </div>

</div>