<div class="container-xxl">
  <div class="d-flex justify-content-between align-items-baseline border-custom">

<!--    from Date-->
    <mat-form-field appearance="outline">
      <mat-label>Από</mat-label>
      <input matInput [matDatepicker]="dp" [formControl]="fromDate">
<!--      <mat-hint>MM/YYYY</mat-hint>-->
      <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, dp, fromDate)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>

<!--    toDate-->
    <mat-form-field appearance="outline">
      <mat-label>Μέχρι</mat-label>
      <input matInput [matDatepicker]="todatepc" [formControl]="toDate">
<!--      <mat-hint>MM/YYYY</mat-hint>-->
      <mat-datepicker-toggle matIconSuffix [for]="todatepc"></mat-datepicker-toggle>
      <mat-datepicker #todatepc
                      startView="multi-year"
                      (monthSelected)="setMonthAndYear($event, todatepc, toDate)"
                      panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>


<!--    issue-->
    <mat-form-field appearance="outline">
      <mat-label>Choose an option</mat-label>
      <mat-select [(ngModel)]="selectedIssue">
        <mat-option *ngFor="let issue of typeOfIssues" [value]="issue">{{issue}}</mat-option>
      </mat-select>
    </mat-form-field>

<!--    building-->
    <mat-form-field appearance="outline">
      <mat-label>Choose an option</mat-label>
      <mat-select [(ngModel)]="selectedBuilding">
        <mat-option *ngFor="let building of buildings" [value]="building.id">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-icon-button (click)="onFiltersChange()" matTooltip="Προβολή στατιστικών βάση των φίλτρων"><mat-icon>check</mat-icon></button>
      <button mat-icon-button (click)="clearFilters()" matTooltip="Καθαρισμός φίλτρων"><mat-icon>clear</mat-icon></button>

      <button mat-icon-button color="primary" (click)="onDownload()" matTooltip="Λήψη αρχείου Excel με όλα τα στατιστικά δεδομένα">
        <mat-icon>download</mat-icon>
      </button>
    </div>

  </div>
  <app-bar-chart></app-bar-chart>
</div>
