<div mat-dialog-content>

    <div class="d-flex flex-column justify-content-between">

      <div class="d-flex flex-column h-100">
        <mat-form-field class="mt-2" appearance="outline">
          <mat-label>Επιλέξτε κτήρια</mat-label>
          <mat-select (selectionChange)="onOptionSelected($event)">
            <mat-option *ngFor="let building of buildingNames | keyvalue"  [value]="building.key">
              {{building.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mt-2" appearance="outline">
          <mat-label>Επιλέξτε αίθουσες</mat-label>
          <mat-select [formControl]="sites" multiple>
            <mat-select-trigger>
              {{sites.value?.[0] || ''}}
              <span *ngIf="(sites.value?.length || 0) > 1">
          (+{{(sites.value?.length || 0) - 1}} {{sites.value?.length === 2 ? 'other' : 'others'}})
        </span>
            </mat-select-trigger>
            <mat-option *ngFor="let site of sitesName" [value]="site">{{site}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="d-flex justify-content-between">
        <button mat-raised-button color="accent" (click)="onSave()">Αποθήκευση</button>
        <button mat-button (click)="onClose()">Άκυρο</button>
      </div>

    </div>
</div>
