<div class=" w-100 d-flex justify-content-center">
    <div class="container-xxl d-flex justify-content-evenly p-0 m-0 wrapper">

        <div class="sticky-buttons d-flex align-items-center">
            <button mat-raised-button matTooltip="Επιλέξτε τις αίθουσες που σας ενδιαφέρουν" class="me-3" (click)="openPreferences()">Preferences</button>
            <button mat-raised-button [matBadge]="notifications.length" matBadgeColor="warn" color="primary" class="me-3" (click)="openNotififcations()">
                Notifications
            </button>
        </div>
        <!-- inputs for new issue -->
        <div class="d-flex flex-column justify-content-center p-5 m-0 background-issue-form">
          <form class="d-flex flex-column justify-content-center" [formGroup]="issueForm" (ngSubmit)="onSubmit()">

            <p class="h2">Αίτηση νέας βλάβης</p>

            <mat-form-field appearance="outline">
                <mat-label>Επιλέξτε κτήριο</mat-label>
                <mat-select (selectionChange)="onBuildingSelected($event.value)" formControlName="buildingName">
                  <mat-option *ngFor="let building of buildingsWithSites | keyvalue" [value]="building.key">{{building.key}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Αίθουσα</mat-label>
              <input type="text"
                     placeholder="Επιλέξτε αίθουσα"
                     aria-label="room"
                     matInput
                     [formControl]="siteName"
                     [matAutocomplete]="auto">
              <button  matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Επιλέξτε είδος βλάβης</mat-label>
                <mat-select formControlName="issueType">
                    <mat-option *ngFor="let issue of issueTypes" [value]="issue">{{issue}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" *ngIf="issueForm.get('issueType')?.value == 'EQUIPMENT'">
                <mat-label>Επιλέξτε τεχνικό εξοπλισμό</mat-label>
                <mat-select formControlName="equipment">
                    <mat-option *ngFor="let equip of equipments" [value]="equip.id">{{equip.typeOfEquipment}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Περιγραφή</mat-label>
              <textarea matInput placeholder="Περιγραφή βλάβης..." formControlName="description"></textarea>
            </mat-form-field>

            <div>
                <button mat-raised-button class="mt-2" color="primary" type="submit">Δήλωση βλάβης</button>
            </div>
          </form>

        </div>

        <div class="notification-container d-flex flex-column align-items-center pt-5 pb-5">
            <!-- panic button -->

            <!-- short view issues -->
            <div class="w-100 h-100">

                <!-- <p class="h2 w-100">Αίθουσες με βλάβες</p> -->
                <div class="w-100 h-100 d-flex justify-content-center align-items-center">
                    <button mat-icon-button (click)="previousPage()"><mat-icon >arrow_back_ios</mat-icon></button>
                    <div class="quick-view-wrapper">
                        <div class="quick-view" *ngFor="let issue of selectedIssues">
                            <span>{{issue.siteName}}</span>
                            <span>{{issue.title}}</span>
                            <span class="border border-0 rounded-pill ps-2 pe-2 m-0" [ngStyle]="{ 'background-color': statusColors[issue.status], 'width': '120px', 'text-align': 'center'}" >{{issue.status}}</span>
                        </div>
                    </div>
                    <button mat-icon-button (click)="nextPage()"><mat-icon>arrow_forward_ios</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
