<div class="d-flex justify-content-evenly p-0 m-0 wrapper">
    <!-- inputs for new user-->
    <div class="d-flex flex-column justify-content-center p-3 m-0 ">
        <p class="h2">Δημιουργία νέου χρήστη</p>
    
        <mat-form-field appearance = "outline"> 
            <mat-label>Όνομα</mat-label>
            <input matInput [(ngModel)]="createUserForm.firstname">
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Επίθετο</mat-label>
            <input matInput  [(ngModel)]="createUserForm.lastname">
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="createUserForm.email">
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Τηλέφωνο</mat-label>
            <input matInput [(ngModel)]="createUserForm.phone">
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Διεύθυνση</mat-label>
            <input matInput [(ngModel)]="createUserForm.address">
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Φύλλο</mat-label>
            <mat-select placeholder="Επιλέξτε φύλλο" [(ngModel)]="createUserForm.gender">
                <mat-option value="M">Άνδρας</mat-option>
                <mat-option value="F">Γυναίκα</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance = "outline"> 
            <mat-label>Ρόλος</mat-label>
            <mat-select placeholder="Επιλέξτε ρόλο" [(ngModel)]="createUserForm.role">
                <mat-option value="TEACHER">Καθηγητής</mat-option>
                <mat-option value="TECHNICIAN">Τεχνκός</mat-option>
                <mat-option value="ADMIN">Διοικητική επιτροπή</mat-option> 
            </mat-select>
        </mat-form-field>
        
        <div>
            <button mat-raised-button class="mt-2" color="primary" (click)="onCreate()">Δημιουργία χρήστη</button>
        </div>

    </div>
    
    <!--insert csv with users-->
    <div class="csv-with-users d-flex flex-column justify-content-center p-3 m-0 ">
        <div>
            <p class="h2">Εισάγετε αρχείο CSV με δεδομένα χρηστών</p>
            <div class="input-group mb-3">
                <input type="file" class="form-control">
            </div>
        </div>   
    </div>
</div>