<div mat-dialog-content>
    <div align="right"> 
    <button mat-icon-button color="dark" mat-dialog-close align="right">
        <mat-icon>close</mat-icon>
    </button>
    </div>
    <p class = "h2">Προσθήκη κτηρίου</p>
    <div class="flex-row justify-content-center p-3 m-3 wrapper">
           
       <mat-form-field appearance = "outline"> 
           <mat-label>Όνομα κτηρίου</mat-label>
           <input matInput >
       </mat-form-field>

       <button mat-raised-button  color="primary" (click) = "createfloorComponent()">
           Προσθήκη ορόφου
           <mat-icon matSuffix>stairs</mat-icon>
       </button>
        
    </div>
    <div class="InsertForm">
        <div *ngFor="let floor of floors; let y = index" class="InsertForm flex-column p-3 m-3 justify-content-evenly wrapper">
            <div *ngIf = "floor != 0">
                <p class="h4">{{y+1}}ος όροφος</p>
                <mat-divider></mat-divider>
                <p>{{y}}</p>
                <p>{{floor}}</p>
                <div *ngFor="let value of counter(floor); let i = index"  class="flex column p-3 m-0 wrapper">
                    <mat-form-field appearance = "outline" > 
                       <mat-label>Όνομα αίθουσας</mat-label>
                       <input matInput (keyup.enter)="handleKeyUp(y)">  
                       <button matSuffix mat-icon-button (click) = "removeValue(i,y)"><mat-icon >close</mat-icon></button>
                   </mat-form-field>
                </div>

            </div>
        </div>
        <div class = "bottom flex-row justify-content-center">
            <button mat-raised-button class="complete-btn" md-color="#4CAF50" (click) = "completeAddingBuilding()">
                Ολοκλήρωση
            </button>
            <button mat-raised-button  class="close-btn  m-3" mat-dialog-close>
               Ακύρωση
            </button>
        </div>
    </div>
</div>