<div mat-dialog-content>
    <button mat-icon-button color="dark" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <h1>Προσθήκη κτηρίου</h1>
    <div class="flex-row justify-content-center p-3 m-3 wrapper">
        <mat-form-field appearance = "outline"> 
            <mat-label>Όνομα κτηρίου</mat-label>
            <input matInput >
        </mat-form-field>
        <button mat-raised-button color="primary">
            Προσθήκη κτηρίου
            <mat-icon>stairs</mat-icon>
        </button>
        
    
    </div>
</div>