<!-- <mat-toolbar>
    <mat-toolbar-row>
    <h4>clickckck</h4>
    <button mat-button (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>Menu
    </button>
    </mat-toolbar-row>
</mat-toolbar> -->
<mat-sidenav-container class="vh-100" >
    <mat-sidenav #sidenav [fixedInViewport]="true" class="sidenav-width" >
        
        <div class="m-4 ">
            <p class="h2">Φίλτρα<mat-icon class="ms-2">tune</mat-icon></p>
            <div class="mt-3">
                <p class="h3">Αίθουσα</p>
                <mat-form-field appearance="outline">
                    <mat-label>Αναζητήστε αίθουσα</mat-label>
                    <input matInput type="text" [(ngModel)]="value">
                    <button  matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div>
                <p class="h3">Καταστάσεις</p>
                <mat-chip-listbox aria-label="Status" class="d-flex flex-column justify-content-between">
                    <mat-chip-option>Status one</mat-chip-option>
                    <mat-chip-option>Status two</mat-chip-option>
                    <mat-chip-option>Status three</mat-chip-option>
                    <mat-chip-option>Status four</mat-chip-option>
                </mat-chip-listbox>
            </div>
            
            <div class="mt-3">
                <p class="h3">Προτεραιότητα</p>
                <mat-chip-listbox aria-label="Priority" class="d-flex flex-column justify-content-between">
                    <mat-chip-option>Υψηλή</mat-chip-option>
                    <mat-chip-option>Μεσαία</mat-chip-option>
                    <mat-chip-option>Χαμηλή</mat-chip-option>
                </mat-chip-listbox>
            </div>
            
        </div>


    </mat-sidenav>
    <mat-sidenav-content>
        <div class="container-fluid p-5">

            <div class="d-flex flex-row">
                <p class="h2 me-4">Αιτήσεις</p>
                <button mat-raised-button color="primary" (click)="sidenav.toggle()">
                    Φίλτρα
                    <mat-icon>tune</mat-icon>
                </button>
            </div>
        
            <div>
              <app-data-table></app-data-table>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
  




